# sha256: 47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU
# sha256: Bf5LGah3jUtIu_H038oxBogf6nmCZkVT5_f4YWBvfGY
Django==1.9

# sha256: 8uJz7TSsu1YJYtXPEpF5NtjfAil98JvTCJuFRtRYQTg
# sha256: ygF2j97N4TQwHzFwdDIm9g7f9cOTXxJDc3jr2RFQY1M
dj-database-url==0.3.0
# sha256: bRlhhNHosUC8WvHV7tqK7tJqJBMX2IYJkug-is76YXc
# sha256: CctSIV20qMaKdl8toz-vvQSedhHLcHCP-MX3o8ic42Q
# sha256: _oRGsvaAqZrBFK8skPi2nlYFL_TSNZxRCo3GHSUqwyU
# sha256: DZ-AQ8PSJip60tjPjf0mMLEiB-abgptvQJLkdVaj9XI
# sha256: fMvmZlU1vAzBPIPatxtCS94JmfXwppsptVfsxBzQ-Nw
# sha256: 2UaJQ7SceY0_raLnbdWYMut4bgsBlqEI3n7TquPKFsE
# sha256: VRVYFGbxp6p097Q1MRvb1oay8t2k8MfJX4AsREsF7ak
# sha256: 47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU
# sha256: JngUMXSDVx5jejLRXXHvbI47BaLsupeysNcfp-qesfU
# sha256: LB08DkySnxQBh5y1zpoEOvzoUlX5Q5vXzrrwJRScWiA
# sha256: as-au751fvddwuzZ2RunSVR5Qauv--af8ghqnjfUkEw
psycopg2==2.6.1

# sha256: ufv3R_qOcR0zDy9Da5suz17tnrZ6Y3yoGrzRHCq-3sg
python-decouple==2.3

# sha256: fn9zpnXFGHErrdeDJ54m0WQUDz_C7XoyECw9CKaipKc
jsonfield==1.0.3
