# sha256: n3ygTG288It5Ty6lKDxgFWo36_K4MW0QJ_WU80_2EQE
# sha256: opqsRqaGyt5tqHzn5yh9XVPN2rxB13fGIwpYPDYkShg
Django==1.9.6

# sha256: 8uJz7TSsu1YJYtXPEpF5NtjfAil98JvTCJuFRtRYQTg
# sha256: ygF2j97N4TQwHzFwdDIm9g7f9cOTXxJDc3jr2RFQY1M
dj-database-url==0.4.1
# sha256: bRlhhNHosUC8WvHV7tqK7tJqJBMX2IYJkug-is76YXc
# sha256: CctSIV20qMaKdl8toz-vvQSedhHLcHCP-MX3o8ic42Q
# sha256: _oRGsvaAqZrBFK8skPi2nlYFL_TSNZxRCo3GHSUqwyU
# sha256: DZ-AQ8PSJip60tjPjf0mMLEiB-abgptvQJLkdVaj9XI
# sha256: fMvmZlU1vAzBPIPatxtCS94JmfXwppsptVfsxBzQ-Nw
# sha256: 2UaJQ7SceY0_raLnbdWYMut4bgsBlqEI3n7TquPKFsE
# sha256: VRVYFGbxp6p097Q1MRvb1oay8t2k8MfJX4AsREsF7ak
# sha256: 47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU
# sha256: JngUMXSDVx5jejLRXXHvbI47BaLsupeysNcfp-qesfU
# sha256: LB08DkySnxQBh5y1zpoEOvzoUlX5Q5vXzrrwJRScWiA
# sha256: as-au751fvddwuzZ2RunSVR5Qauv--af8ghqnjfUkEw
psycopg2==2.6.1

# sha256: ufv3R_qOcR0zDy9Da5suz17tnrZ6Y3yoGrzRHCq-3sg
python-decouple==2.3

# sha256: fn9zpnXFGHErrdeDJ54m0WQUDz_C7XoyECw9CKaipKc
jsonfield==1.0.3
# sha256: V1H4hELaARJsUf2uUjXylbAZDvHUOty2alevVW3Ky70
fanout==1.2.0
# sha256: 3sL1vUZmAcpV86wECgUnB7Lf2leek3ADpeTB7i_UEAs
pubcontrol==2.2.7
# sha256: oWyrBlHZmhlpA-RlIVmDdWLwRT7li7rZ6sydOwD-sBk
# sha256: 4bI4bPrVQURbHUPkgLAso37Fcln9GiPnlBW1e6XYppQ
PyJWT==1.4.0
# sha256: ET-7pVManjSUW302szoIToul0GZLcDyBp8Vy2RkZpbg
# sha256: xXeBXdAPE5QgP8ROuXlySwmPiCZKnviY7kW45enPWH8
requests==2.9.1
# sha256: _NluK-R8ju80xlDgB6bVRuGefuYQQbie27u-dhmqOYc
django-cors-headers==1.1.0
